       .di1 {
            width: 1920px;
            height: 50px;
            position: absolute;
            border-bottom: solid 1px #5E5E5E;
            line-height: 50%;
        }
        /*----------第一个大div的样式----------*/
        .input{opacity:0.2; width:150px;height: 43px;line-height: 0px;margin-top: -15px;}
        .input:hover{opacity:1.0; background-color: #333;border-color: #33cde5; width: 250px;color: #FFF;}

        .di {
            width: 1920px;
            height: 100px;
            position: absolute;

        }
        /*----------第一行上面的输入框样式 ----------*/

        .di:hover {
            background-color: rgb(43, 42, 42);
        }

        .back {
            height: 630px;
            background-size: contain;
            float: left;
            overflow: hidden;
        }

        .ul {
            margin: 30px auto;
            width: 600px;
            height: 350px;
            padding: 0px;
            border: 1px solid #000;
        }

        .right {
            float: right;
        }

        li {
            list-style-type: none;
            float: left;
        }
        .di1 li{width: 85px;} 
        .p-text {
            font-size: 14px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .w-text {
            font-size: 18px;
        }

        .x-text {
            padding-left: 20px;
            padding-right: 20px;
        }

        .t-text {
            font-size: 18px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .s-text {
            font-size: 12px;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
        }

        .b-text {
            color: #FFF;
            font-size: 12px;
        }

        .c-text {
            font-size: 12px;
            width: 130px;
            color: #FFF;
        }

        .b-text:hover {
            color: #33cde5;
        }

        .c-text:hover {
            color: #33cde5;
        }

        a {
            display: block;
            width: 100px;
            height: 50px;
            font-family: Microsoft Yahei;
            line-height: 50px;
            margin: 0px 0px;
            color: #FFF;
            text-align: center;
            text-decoration: none;
            font-size: 15px;
        }

        .div1-vs {
            width: auto;
            height: auto;
        }
        
        
/*----------设置下拉菜单样式，隐藏显示，添加阴影效果----------*/
        .dropdown-content {
            display: none;
            position: absolute;
            margin-top: 100px;
            background-color: white;
            min-width: 1100px;
            min-height: auto;
            z-index: 200;
            box-shadow: 1px 1px 1px 0px grey;
            margin-left: 30px;
        }
        .div1-vs:hover .dropdown-content{ display: block;}

        .dropdown-content h3 {
            margin-top: -8px;
            margin-bottom: -8px;
            margin-left: 5px;
        }

        .dropdown-content h3 a {
            text-align: left;
            font-size: 12px;
            color: grey;
            text-decoration: none;
            width: 160px;
        }

        .dropdown-content h3 a:hover {
            color: #33cde5;
        }

        .dropdown-content .drop-sma {
            width: 160px;
            float: left;
            height: auto;
            line-height: 0px;

        }


        .div1-bot {
            clear: both;
            margin-top: 500px;
            width: auto;
            height: 130px;
            background: #333;
            opacity: 0.8;
        }

        .div1-bot-cen {
            margin-left: 400px;
            width: 1400px;
            height: 130px;
            clear: both;
        }   
                          /* 第二块下拉菜单导航图标 */
        .div1-bot-drop {
           float: left;
           width: 99%;
           height: auto ;
           background-color: rgb(218, 216, 216);
           display:none;
         
        }                /* 下拉菜单模板 */

        .div1-bot-drop-sma{
            height: 500px;
            width: 450px;
            float: left;            
            margin-left: 10px;
        }
        .div-bot-drop-sma-son{
            height: 80px;
            margin-top: 10px;
            width: 450px;
            float: left;
        }
        .div-bot-drop-sma-son:hover{
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 0px 2px 3px #C3C3C3;
        }
                            /* 下拉列表放上去的阴影 */
.div-bot-drop-sma-son ul li{
    float: left;
    width: 400px;
}
        .div1-bot-cen1 {
            margin-left: 300px;
            width: 1600px;
            height: 130px;
        }

        .div1-bot-cen-sma {
            width: 250px;
            height: 140px;
            float: left;
            color: #FFF;
        }
        .div1-bot-cen-sma2 {
            width: 250px;
            height: 140px;
            float: left;
            color: #FFF;
        }

        a:hover {
            color: #33cde5;
        }

        .div1-bot-cen-sma2:hover {
            height: 130px;
            background: rgb(116, 112, 112);
            border-radius: 3px;
        }

        b:hover {
            background: #33cde5;
        }

        .di2 {
            height: auto;
            float: left;
            margin: 0px auto;
            width: 1920px;
        }

        .div2-cen {
            float: left;
            margin-left: 46%;
            height: 123px;
            width: 1050px;
            margin-top: 20px;
        }

        .div2-cen-drop {
            clear: both;
            float: left;
            height: 600px;
            width: 1920;
        }

        .x-text:hover {
            color: #33cde5;
        }

        .di3 {
            height: 400px;
            float: left;
            margin: 0px auto;
            width: 1920px;
            background: #666;
        }

        .di3-img:hover {
            opacity: 0.3;
        }

        #box {
            background: #0FF;
            margin-left: 200px;
            /* 父容器设置宽度, 并超出部分不显示 */
            width: 1520px;
            height: inherit;
            overflow: hidden;
            overflow-x: scroll;
            /* 内容会被裁剪，会以滚动条显示 */
            overflow-y: hidden;
            /* 超出内容不可见 */
            white-space: nowrap;
        }

        .di4 {
            height: auto;
            float: left;
            margin: 0px auto;
            width: 1920px;
            margin-top: 60px;
        }

        .div4-sma {
            width: 380px;
            float: left;
            color: #FFF;
            height: 230px;
        }

        .div4-sma2 {
            width: 380px;
            float: left;
            color: #FFF;
            height: 230px;
        }

        .div4-sma2:hover {
            box-shadow: 0px 0px 2px 3px #C3C3C3;
        }

        .div5-bot {
            width: 1300px;
            margin-left: 400px;
            margin-top: 50px;
            height: 100px;
            float: left;
        }

        .div5-sma {
            width: 240px;
            height: 55px;
            float: left;
            margin-left: 20px;
            line-height: 55px;
            /*设置字体在div中的高度*/
        }

        .div6 {
            width: 1320px;
            margin-left: 350px;
            float: left;
            margin-top: 50px;
            height: 300px;
        }

        .div6-sma1 {
            width: 200px;
            float: left;
        }

        .div6-sma1-lef {
            float: right;
            width: 140px;
            height: inherit;
            line-height: 35px;
        }

        .div6-sma2 {
            width: 1000px;
            float: left;
            margin-left: 120px;
            margin-top: 0px;
        }

        .div6-sma2-1 {
            float: left;
            width: 110px;
            height: 300px;
            margin-left: 70px;
            white-space: pre-wrap;
            line-height: 23px;
        }

        .div6-sma2-2 {
            float: left;
            width: 1500px;
            height: 35px;
        }
        #frame {
            /*----------图片轮播相框容器----------*/
            position: absolute;
            /*--绝对定位，方便子元素的定位*/
            width: 100%;
            height: 630px;
            overflow: hidden;
            /*--相框作用，只显示一个图片---*/
        }

        #dis {
            /*--绝对定位方便li图片简介的自动分布定位---*/
            position: absolute;

        }

        #dis li {
            display: inline-block;
            width: 1900px;
            height: 200px;
            margin-top: 200px;
            color: #fff;
            border-radius: 10px;
            font-size: 40px;

        }

        #photos img {
            float: left;
            width: 1920px;

        }

        #photos {
            /*---设置总的图片宽度--通过位移来达到轮播效果----*/
            position: absolute;
            z-index: 9px;
            width: calc(1920px * 5);
            /*---修改图片数量的话需要修改下面的动画参数*/
        }

        .play {
            animation: ma 30s ease-out infinite alternate;
            /**/
        }

        @keyframes ma1 {

            /*---每图片切换有两个阶段：位移切换和静置。中间的效果可以任意定制----*/
            0%,
            20% {
                opacity: 0.2
            }

            85%,
            100% {
                opacity: 1.0
            }
        }

        .play2 {
            animation: ma1 1.5s ease-out infinite alternate;
        }

        @keyframes ma {

            /*---每图片切换有两个阶段：位移切换和静置。中间的效果可以任意定制----*/
            0%,
            20% {
                margin-left: 0px;
            }

            25%,
            40% {
                margin-left: -1920px;
            }

            45%,
            60% {
                margin-left: -3840px;
            }

            65%,
            80% {
                margin-left: -5760px;
            }

            85%,
            100% {
                margin-left: -7680px;
            }
        }

        .num {
            position: absolute;
            z-index: 10;
            right: 41%;
            top: 450px;
            background: rgb(100, 94, 94);
            width: 300px;
            height: 8px;
            line-height: 5px;
            cursor: pointer;
            color: #fff;
            text-align: center;
            opacity: 0.8;
        }

      